#swamp {
    background-image: url("swamp-puppy.jpg");
    background-size: cover;
    background-color: #cccc;
}
#swamp {
    height: 100vh;
    width: 100vh;
}
h1, h2, h3, h4, h5, h6 {
    color: white;
}
#link {
    padding: 5px;
    background-color: white;
    border: solid;
    border-radius: 8px;
}