#progress-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;    
}
#progress-bar {
    width: 30%;
    height: 40px;
    border-radius: 10px;
    border: solid;
    border-width: 3px;
}
#progress-bar-container>h3 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#bg1 {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    height: 100vh;
    width: 50vw;
}
#bg2 {
    position: fixed;
    z-index: -1;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50vw;
}